{% extends 'base.html.twig' %}

{% block title %}Ajouter des Prestations au Coffret{% endblock %}

{% block content %}
<h1>Ajouter des Prestations au Coffret</h1>
<form action="{{ path_for('create_prestations_for_boxes', {id: box.id}) }}" method="post">
    <label for="prestation_id">Prestation :</label>
    <select name="prestation_id" id="prestation_id">
        {% for prestation in prestations %}
        <option value="{{ prestation.id }}">{{ prestation.nom }}</option>
        {% endfor %}
    </select>

    <label for="quantity">Quantité :</label>
    <input type="number" name="quantity" id="quantity" min="1" required>

    <button type="submit">Ajouter</button>
</form>
{% endblock %}
