{% extends 'base.html.twig' %}

{% block title %}
    Vérification de la Session
{% endblock %}

{% block body %}
    <h1>Vérification de la Session</h1>
    <p>ID de la dernière boxe dans la session : {{ lastBoxId }}</p>
    <a href="{{ url_for('create_box_form') }}" class="btn btn-primary">Créer une nouvelle boxe</a>
{% endblock %}
